.sidebar {
	background-color: #555;
	height: 100%;
	width: 200px;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
}

html, body, #app, #app>div {
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}
