.sidebar {
	background-color: #555;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 300px;
	top: 0px;
	left: 0px;
	overflow-x: hidden;
}

html, body, #app, #app>div {
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}
