.nav-bar {
	z-index: 4;
	background-color: #FE4A49;
	height: 40px;
	width: 100%;
	position: fixed;
	left: 0px;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0;
}

.nav-bar li {
	float: left;
}

.nav-bar li .link {
	display: block;
	color: #F4F4F8;
	text-align: center;
	padding: 10px 40px;
	text-decoration: none;
    box-sizing: border-box;
}

.nav-bar li .link:hover:not(.activated) {
    box-shadow: inset 0 -2px 0 #2AB7CA;
}

.nav-bar h1 {
    color: #F4F4F8;
	margin: 0;
	padding: 0 40px;
	float: left;
}

.activated {
        background-color: #2AB7CA;
}
