$font-stack:   				Helvetica, sans-serif;

$primary-color: 			#FE4A49;
$secondary-color: 			#2AB7CA;
$secondary-light-color: 	#C4EBF0;
$tertiary-color: 			#FED766;
$tertiary-light-color: 		#FEECB9;
$bg-light-color:			#E6E6EA;
$bg-lighter-color:			#F4F4F8;

$navbar-height:             44px;

/*
$primary-color: 					#272838;
$secondary-color: 				#A1EF8B;
$secondary-light-color: 	#92D5E6;
$tertiary-color: 					#C2EABD;
$bg-light-color:					#E6E6EA;
$bg-lighter-color:				#F4F4F8;
*/
#content-wrapper {
	position: absolute;
	top:$navbar-height;
	bottom:0px;
	width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

#wall {
	position: absolute;
    width: 100%;
    height: 100%;
	background-color: $bg-lighter-color;
}

.sidebar-content-items {
	background-color: $bg-light-color;
    z-index: 3;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

}

.sidebar-content-items .items {
	display: inline;
}

.sidebar-content-project {
	background-color: $bg-light-color;
    z-index: 3;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow-y: scroll;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

}

.sidebar-ext {
    z-index: 4;
	overflow-x: visible;

}

.sidebar-items {
	background-color: $bg-light-color;
	position: absolute;
	height: 100%;
	width: 300px;
	left: 0px;
    transition: left 0.5s;
}

.sidebar-project {
	background-color: $bg-light-color;
	position: absolute;
	height: 100%;
	width: 300px;
	left: 0px;
    transition: left 0.5s;
}

.sidebar-out {
	left: 0px;
}

.sidebar-in {
	left: -300px;
}

@keyframes slidein {
	from {left:0px;}
	to {left:-300px;}
}

@keyframes slideout {
	from {left:-260px;}
	to {left:0px;}
}

.slidebutton-items {
	display:inline-block;
	position: absolute;
	background-color: $tertiary-color;
	left: 300px;
    top: 5%;
	height: 30%;
	width: 40px;
	z-index: 1;
    border-radius: 0px 20px 20px 0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	margin: auto;
}

.slide-icon {
	position: relative;
	top: calc(50% - 12px);
	color: $bg-lighter-color;
}

.slidebutton-project {
	position: absolute;
	background-color: $secondary-color;
	left: 300px;
    top: 40%;
	height: 30%;
	width: 40px;
	z-index: 1;
    border-radius: 0px 20px 20px 0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	margin: auto;
}



.SVGInline:hover {
	cursor: grab;
}

html, body, #app, #app>div {
	height: 100%;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}

.selector {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.selector:hover {
	cursor: dragging;
}

.header-items {
    display: block;
    padding: 5px;
    color: $bg-lighter-color;
    background-color: $tertiary-color;
    text-align: center;
}

.header-project {
    display: block;
    padding: 5px;
    color: $bg-lighter-color;
    background-color: $secondary-color;
    text-align: center;
}

.option {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: $bg-lighter-color;
    text-align: center;
    color: #50C4D3;
    cursor: pointer;
}

.option:hover {
    background-color: $secondary-light-color;
}

.header {
    display: block;
    padding: 20px 20px;
    background-color: $primary-color;
    text-align: center;
    color: $bg-lighter-color;
}

#savename {
    padding: 8px;
    margin: 20px 0px;
    box-sizing: border-box;
    width: 100%;
}

.submit {
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $bg-lighter-color;
    cursor: pointer;
}

.submit:hover {
    background-color: #FE6A6A;
}

.menu-wrapper {
}

.title {
    position: absolute;
    right:0;
    top: 0;
    background-color: $secondary-color;
    color: $bg-lighter-color;
    padding: 8px 16px;
    font-size: 16px;
    min-width: 160px;
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 0px 10px;
    text-align: center;
    z-index: 4;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

}

.menu-content {
    display: none;
    position: absolute;
    background-color: $bg-light-color;
    min-width: 160px;
    right: 0;
}

.option-dropdown {
    position: absolute;
    cursor: pointer;
    top:0px;
    transition: top 0.5s;
    right: 0;
    padding: 8px 16px;
    min-width: 120px;
    border-radius: 10px 0px 0px 10px;
    background-color: $secondary-color;
    color: $bg-lighter-color;
    z-index: 1;
}

.option-dropdown:hover {
    background-color: #FE7B7A;
}

.save.activate {
    top:50px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.load.activate {
    top:96px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.rename.activate {
    top:142px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.set-url.activate {
    top:186px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.get-url.activate {
    top:232px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}



/* -------- NAV BAR -------- */

.nav-bar {
	z-index: 4;
	background-color: $primary-color;
	height: $navbar-height;
	width: 100%;
	position: fixed;
	left: 0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

}

.nav-bar .icon {
	color: $bg-lighter-color;
	font-size: 40px;
	margin: 2px;
	display: none;
}

.menu-dropdown {
	display: none;
	z-index: 6;
	position: fixed;
	left: 0;
	top: $navbar-height;
	color: black;
	background-color: $bg-light-color;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	text-align: center;
}

.menu-dropdown .menu-item {
	margin: 20px;

}

.menu-dropdown .menu-item .link {
	text-decoration: none;
	color: black;
}

.nav-bar ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0;
}

.nav-bar .left {
	float: left;
}

.nav-bar .right {
	float: right;
}

.nav-bar .link {
	display: block;
	color: $bg-lighter-color;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
    box-sizing: border-box;
	cursor: pointer;
}

.nav-bar .link:hover:not(.activated) {
    box-shadow: inset 0 -3px 0 $secondary-color;
}

.nav-bar h1 {
    color: $bg-lighter-color;
	margin: 0;
	padding: 0 40px;
	float: left;
}

.activated {
        background-color: $secondary-color;
}

@media screen and (max-width: 550px) {
	.nav-bar .nav-desktop {
		display: none;
	}

	.nav-bar .icon {
		display: block;
	}

	.hide-menu {
		display: none;
	}

	.show-menu {
		display: block;
	}

	.activated {
		background-color: inherit;
	}

}

/* -------- LOAD CONTENT -------- */

.header {
    display: block;
    padding: 20px 20px;
    background-color: $primary-color;
    text-align: center;
    color: $bg-lighter-color;
}

.loadcontent {
    position: absolute;
    background-color: #D2D2D5;
    width: 100%;
    top: 60px;
    bottom: 0px;
    overflow: scroll;
}

.loadbtn {
    display: block;
    padding: 10px 10px;
    text-align: center;
    background-color: $bg-lighter-color;
    cursor: pointer;
}

.loadbtn:hover {
    background-color: $bg-light-color;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 0.75;}
}

@keyframes transition {
    0% {top: 100%;}
    100% {top: 50%;}
}

.underlay {
    display: none;
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1,1,1,0.5);
    opacity: 0;
    animation: fade 0.35s;
}

.content {
    z-index: 21;
    display: none;
    position: fixed;
    top: 100%;
    left: 50%;
    opacity: 1;
    width:300px;
    height:300px;
    background-color: $bg-lighter-color;
    opacity: 1;
    animation: transition 0.35s;
    transform: translate(-50%,-50%);
}

.show {
    display: block;
}

.underlay.show {
    opacity: 0.75;
}

.content.show {
    top: 50%;
}

.editor-window {
	position: absolute;
	bottom: 0px;
	width: 300px;
	height: 300px;
	background-color: $bg-light-color;
	border-radius: 10px 0px 0px 0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	transition: right 0.5s;
}

.editor-in {
	right: 0px;
}

.editor-out {
	right: -300px;
}

@keyframes editor-in {
	from {right:-300px;}
	to {right:0px;}
}

@keyframes editor-out {
	from {right:0px;}
	to {right:-300px;}
}

.editor-header {
	display: block;
	padding: 5px;
	color: $bg-lighter-color;
    background-color: $tertiary-color;
    text-align: center;
	border-radius: 10px 0px 0px 0px;
}

.editor-content {
	padding: 20px;
}

.editor-textarea {
	width: 100%;
	height: 150px;
}

.header-textarea {
    display: block;
    padding: 5px;
    color: $bg-lighter-color;
    background-color: $primary-color;
    text-align: center;
}

.drag-layer {
	pointer-events: none;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.user-dropdown {
	z-index: 6;
	position: fixed;
	right: 0;
	top: $navbar-height;
	color: black;
	background-color: $bg-light-color;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.show-drop {
	display: block;
}

.hide-drop {
	display: none;
}

.user-dropdown .item {
	padding: 10px;
	padding: 10px 50px;
}

.user-dropdown .item:hover {
	cursor: pointer;
	background-color: $bg-lighter-color;
}

/* Home
__________________________________ */

.home {
	height: 100%;

}

.home-login-content {
	height: 100%;
	padding: 20px;
	background-color: $bg-lighter-color;
	overflow: scroll;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 550px) {
	.home-login-content {
		height: auto;
	}
}

.home-login-content h3 {
	text-align: center;

}

label {
	text-align: center;
}

.home-login-content button {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: $secondary-color;
}

.home-splash-content {
	height: 100%;
	overflow: scroll;
}

.mid {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.focuswindow-content {
	position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;
    overflow: scroll;
}
